<div class="alert bg-light shadow-lg col-10 col-md-7 col-lg-6 col-xl-4 side__bar form-border">
<button type="button" class="close" data-dismiss="alert">&times;</button>

  <div class="border col-12 mt-4 w-100 bg-theme text-dark">
    <div class="border-bottom pb-2 text-center">
      <h1>Login</h1>
      <%= post_author if defined?post_author%>
    </div>
    <%= form_with url: sessions_path , class: 'form-horizontal' do %>
      <div class="form-group">
        <%= label_tag :name, "User Name"%>
        <%= text_field_tag :name,"", placeholder: 'Your User Name here', class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= label_tag :password%>
        <%= password_field_tag :password,"",placeholder: 'Your password here', class: 'form-control'%>
      </div>
      <div class="form-group w-100 text-center">
        <%= submit_tag "Login", class: 'btn btn-info'%>
      </div>
    <%end%>

    <div class="mt-4 d-flex justify-content-center">
      <p class="mb-2">Not Signed up?</p>
      <%= link_to 'Sign Up', articles_path(q: "sign up"), class: 'btn-link ml-2'%>
    </div>
  </div>

  <div class="border mt-3 py-2 d-flex flex-column align-items-center">
    <div class="d-flex mb-2">
      <i class="fa fa-3x fa-google mr-2 text-primary"></i>
      <%= button_to "Login with Google", '/auth/google_oauth2', {class: 'btn btn-primary btn-lg'} %>
    </div>
    <div class="d-flex">
      <i class="fa fa-3x fa-github mr-2"></i>
      <%= button_to "Login with Github", '/auth/github', {class: 'btn btn-dark btn-lg'}%>
    </div>
  </div>
</div>
