  <div class="px-2 py-1 mt-1 text-center">
    <% @article.errors.full_messages.each do |error| %>
        <li class="text-danger list-unstyled h5 border-bottom pb-2"><%= error %></li>
    <% end %>
  </div>

  <%= form_for @article, html: {class: 'form-horizontal p-4 bg-theme text-white'} do |f|%>
    <div class = 'form-group'>
      <%= f.label :title%>
      <%= f.text_field :title, placeholder: "article Title", class: 'form-control'%>
    </div>

    <div class = 'form-group'>
      <%= f.label :text%>
      <%= f.text_area :text, placeholder: "article Description",  class: 'form-control',  cols: "100", rows: "10"%>
    </div>
    <div class="mb-3 text-dark">
      <%= f.label :image%>
      <%= f.file_field :image %>  
    </div>

    <div class="d-flex text-dark">
        <% priority_categories().each do |category| %>
          <div class="form-group pr-4">
            <%= label_tag "#{category.name}" %>
            <%= check_box_tag "category[]", category.id %>
          </div>
        <% end %>
    </div>

    <div class="form-group">
      <%= f.submit 'Save', class: 'btn btn-success mt-3 theme-bg-2'%>
    </div>
  <%end%>
