<%= sidebar_login%>
<div class="row">
  <div class="col-12 col-md-9 px-0 bg-dark row-1-height-md">
    <%= link_to articles_path do%>
      <%= image_render top_voted_article%>
    <%end%>
    <div class="img-description px-3 pb-2">
      <h4 class="h4 theme-color-text pb-3 font-weight-bolder"><%= top_voted_article.title%></h4>
      <p class="h6 text-white font-weight-bold"><%= top_voted_article.text%></p>
    </div>
  </div>
  <div class="col-12 col-md-3 weather_container">
  </div>
</div>
<div class="row">
  <%priority_categories.each do |category|%>
    <div class="position-relative col-6 col-md-3 px-0">
      <%= image_render top_of_category category%>
      <div class="category-img-description position-absolute h-100 d-flex flex-column justify-content-between px-1">
        <h4 class="font-weight-bolder text-white underline pb-3 mt-2"><%= category.name%></h4>
        <h5 class="mb-4 text-white"><%= (top_of_category category).title%></h5>
      </div>
    </div>
  <%end%>
</div>




