<h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>

<h1><%= current_user.name%></h1>

<%= link_to 'New Article', new_article_path%>

<% current_user.articles.each do |article|%>
  <h5><%= article.title%></h5>
  <h5><%= article.text%></h5>
  <%= image_tag(article.image.url) if article.image? %>
<%end%>
