<!DOCTYPE html>
<html>
  <head>
    <title>Ethiopia on Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if flash[:notice]%>
        <div class="alert alert-info bg-info text-dark text-center">
        <strong><%= notice%></strong>
        </div>
      <%end%>
      <% if flash[:alert]%>
        <div class="alert alert-warning text-center text-white bg-danger border m-0 w-100">
        <strong class="h5"><%= alert.html_safe%></strong>
        </div>
      <%end%>
    <%= yield %>
  </body>
</html>
