<!DOCTYPE html>
<html>
  <head>
    <title>Ethiopia on Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <% if flash[:notice]%>
      <div class="alert alert-success alert-dismissible bg-info text-info text-center bg-light border m-0 w-75 mx-auto shadow-sm">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%= notice.html_safe%></strong>
      </div>
    <%end%>
    <% if flash[:alert]%>
      <div class="alert alert-danger alert-dismissible text-center text-danger bg-light border m-0 w-75 mx-auto shadow-sm">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong class="h5"><%= alert.html_safe%></strong>
      <div>
        <a href="#" class="btn btn-light border mt-4 px-2" data-dismiss="alert" aria-label="close">Ok</a>
      </div>
      </div>
    <%end%>
    <header>
      <nav class="nav-custom w-100 fixed-top d-flex justify-content-between border-bottom">
        <div class="pl-3">
          <label for="toggle" class="toggle-label mt-4"></label>
        </div>
        <input id="toggle" class="toggle-checkbox" type="checkbox" name="toggle">
        <div class="d-flex flex-column flex-md-row nav__links theme-bg-2">
          <a href="#">Home</a>
          <a href="#">History</a>
          <a href="#">Geography</a>
          <a href="#">Politics</a>
          <a href="#">Sports</a>
          <a href="#">Ohters</a>
        </div>
        <div class="d-flex align-items-center">
          <h3>EThioPIA</h3>
          <!-- <%= image_tag "logo2.png", class:'img-fluid logo'%> -->
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center pr-3">
          <i class="fa fa-2x fa-search theme-color-1"></i>
        </div>
      </nav>
    </header>
    
    <main class="container mt-5 pt-1">
      <%= yield %>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>
      <h1> lshdfklsjdkljfj l</h1>

    </main>
  </body>
</html>
